<h1>share hearts</h1>
<h1>お悩みをシェア</h1>
<%= form_for @talk do |f| %>
    <div>
        <%= f.label :お悩み内容 %>
        <%= f.text_field :body,size: 140 %>
    </div>
    <%= f.submit "シェアする" %>
<% end %>